.passwordForm {
  flex-direction: column;
  align-items: center;
}

.centerButton {
  margin-block-start: 8px;
}

.passwordConfirmation.invalid {
  --primary-color: var(--red-500);
  --secondary-text-color: var(--red-500);
}

.passwordConfirmation.invalid :deep(.supportingText) {
  color: var(--red-500);
}
