.centerButton {
  align-self: flex-start;
  margin-block-start: 8px;
}

@container settings-content (width <= 680px) {
  .passwordForm {
    flex-direction: column;
    align-items: center;
  }

  .centerButton {
    align-self: center;
    margin-block-start: 5px;
  }
}
