.maxWidth {
  inline-size: 100%;
}

.elementList {
  position: relative;
}

.newSubscriptionIndicator {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  font-size: 11px;
  font-weight: 500;
  gap: 6px;
  grid-column: 1 / -1;
  margin-block: 2px;
  text-transform: uppercase;
}

.newSubscriptionIndicator::before,
.newSubscriptionIndicator::after {
  background: currentcolor;
  block-size: 2px;
  content: '';
  flex: 1;
}

.newSubscriptionGridIndicator {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 500;
  gap: 12px;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
}

.newSubscriptionGridIndicator::before,
.newSubscriptionGridIndicator::after {
  background: currentcolor;
  content: '';
  flex: 1;
  inline-size: 2px;
}

.newSubscriptionGridIndicator span {
  writing-mode: vertical-rl;
}
