.sponsorBlockCategory {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-inline-size: 200px;
  margin-block-start: 30px;
  padding-block: 0;
  padding-inline: 10px;
}

.sponsorTitle {
  font-size: x-large;
}

.sponsorBlockCategory :deep(.select) {
  box-sizing: border-box;
  inline-size: 100%;
}

.sponsorBlockColorPicker {
  margin-block-start: 12px;
}

@media only screen and (width <= 680px) {
  .sponsorBlockCategory {
    inline-size: 100%;
  }
}
