.autoRefreshIntervals {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.autoRefreshIntervals > :deep(.select) {
  box-sizing: border-box;
  inline-size: calc(100% - 70px);
  margin-block: 8px;
}

.onlyShowLatestFromChannelNumber {
  box-sizing: border-box;
  inline-size: 100%;
  padding-inline-start: 44px;
}

.onlyShowLatestFromChannelNumber :deep(.pure-material-slider) {
  box-sizing: border-box;
  inline-size: 100%;
  max-inline-size: 380px;
  margin-inline: 0;
}

.subscriptionChannelSettingsManager {
  box-sizing: border-box;
  max-inline-size: 100%;
  padding-inline-start: 44px;
}
