.grid {
  min-block-size: 264px;
}

.list {
  min-block-size: 131px;
}

.draggable:active {
  cursor: grabbing;
}

.draggedVideo.pointerDragging {
  opacity: 0.6;
}

.draggedVideo {
  opacity: 0;
  transition: 0.01s;
}
