.box {
  justify-content: center;
}

.exportTypeButtons {
  align-content: center;
  align-items: center;
  flex: 1;
}

.importFormatsHint {
  color: var(--secondary-text-color);
  font-size: 0.9em;
  margin-block: 0.25em 1em;
  padding-inline: 1.5em;
  text-align: center;
}
