.bubblePadding {
  inline-size: 100px;
  block-size: 115px;
  padding-block: 10px 30px;
  padding-inline: 10px;
  cursor: pointer;
  border-radius: calc(8px * var(--ui-roundness));
  transition: background 0.2s ease-out;
}

.bubblePadding:hover {
  background-color: color-mix(in srgb, var(--side-nav-hover-color) 30%, transparent);
  transition: background 0.2s ease-in;
}

.bubble {
  inline-size: 70px;
  block-size: 70px;
  margin-block: 20px 5px;
  margin-inline: auto;
  border-radius: 50%;
  font-size: 35px;
}

.profileName {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.5em;
  overflow: hidden;
  text-align: center;
}
